:root {
  --color-primary: #ff6101;
  --color-primary-light: #ffb080;
  --color-secondary: #093673;
  --color-white: #fff;
  --color-main-bg: #f8f8f8;
  --color-font: #333;
  --color-font-muted: #9e9e9e;
  --color-border: #eee;
  --color-modal-overlay: rgba(255, 255, 255, 0.7);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-font);
  background-color: var(--color-main-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
